@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #04122e;
  --color-primary-container: #1a2744;
  --color-on-primary: #ffffff;
  --color-tertiary: #8e130c;
  --color-surface: #f8f9fa;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #c5c6ce;
  
  --font-serif: var(--font-newsreader);
  --font-sans: var(--font-public-sans);
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
}
